<style>
 .home {
		
	background:black;
	color: aliceblue;
	font-family: "Bradley Hand ITC";
	
}

h1{
	text-align: center;
	
	
}
h3{

	
    text-align: center;

}
.container img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height:390px;
	background-attachment: scroll;
	background-position: left; 
    margin-top:2%;
}
p{
	font-size: 30px;
	text-align: center;
}

</style>